<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<!-- Notifications. Xcode makes it production when it exports a build for TestFlight or the App Store. -->
<dict>
	<key>aps-environment</key>
	<string>development</string>
</dict>
</plist>
